{% load static %}
<nav class="navbar navbar-expand-md bg-body py-3" style="width: 1280px" align="center">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span> <img src="{% static 'assets/img/logo.svg' %}" alt="Logo" width="150" height="150"></span>
            <span><img src="{% static 'assets/img/brand.svg' %}" alt="Brand" width="150" height="150"></span>
        </a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="profiles">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
        </div>

        <div class="container-fluid" align="center">
            {% if user.is_authenticated %}
                <!-- Если пользователь авторизован -->
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" style="width:180px" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.profile and user.profile.photo %}
                            <img src="{{ user.profile.photo.url }}" alt="User Avatar" style="width: 30px; height: 30px; border-radius: 50%;">
                        {% endif %}
                        {{ user.profile.first_name }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li><a class="dropdown-item" href="{% url 'profile_detail' user.profile.id %}">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" href="#">Рекомендации</a></li>
                        <li><a class="dropdown-item" href="#">Пополнить баланс</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Выход</button>
                        </form></li>
                    </ul>
                </div>
            {% else %}
                <!-- Если пользователь не авторизован -->
                <div class="dropdown" align="right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="loginMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        Sign in / Sign up
                    </button>
                    <div class="dropdown-menu p-4">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Password" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Sign In</button>
                        </form>
                        <hr>
                        <a class="dropdown-item" href="{% url 'register' %}">Sign up</a>
                        <a class="dropdown-item" href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Подключение необходимых скриптов Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}